@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Make A list of your eating habits</h1>
    <p>Make from Idesigner © copyright 2021 <a href="https://idesigner.se">building Web apps with ASP.NET Core</a>.</p>
</div>
